* { font-family: 'SourceHanSans-Normal'; }
@font-face {
  font-family: 'SourceHanSans-Normal';
  src: url('../fonts/SourceHanSansJP-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  padding-top: 0;
  margin-top: 0;
}

nav {
  background: linear-gradient(#DB812D, #B84D45) !important;
  border-color: #B84D45 !important;
  box-shadow: 0 3px 3px #333333;
  .navbar-brand {
    color: #ffffff !important;
  }
}

#other-control {
  #friend-button {
    color: #ffffff;
    float: right;
    margin-right: 10px;
    text-decoration: none;
    line-height: 50px;
  }
}

.container {
  margin: 5px;
  .row {
    .col-xs-3 {
      i {
        color: #5F9B0A;
        font-size: 100px;
        margin: 10px 0;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }
}

.modal {
  li {
    list-style: none;
  }

  .btn {
    background-color: #00AACC;
    color: #FFFFFF;
  }
}
